<section class="section bgcolor1">
  <div class="container">
      <a href="#">
      <div class="row callout">
          <div class="col-md-4 text-center">
              <h3><sup>$</sup>49.99</h3>
              <h4><%= res.__('16')%></h4>
          </div><!-- end col -->

          <div class="col-md-8">
              <p class="lead"><%= res.__('17')%> </p>
          </div>
      </div><!-- end row -->
      </a>
  </div><!-- end container -->  
</section>