<footer class="section footer noover">
  <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Arbeitszeiten</h3>
                <p>
                  Montag — Freitag <br/>
                  8:00 — 18:00 Uhr<br/>
                  Samstag<br/>
                  8:00 — 16:00 Uhr <br/>
                  Sonntag Geschlossen
                </p>
                <a href="#" class="readmore">Contact</a>
            </div><!-- end widget -->
        </div><!-- end col -->
        <div class="col-lg-3 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Kontact</h3>
                <p>
                    Mobile: +4917 2277 2888 
                    Büro:+4921188233700 

                    Fax:+4921194259397 
                </p>
            </div><!-- end widget -->
        </div><!-- end col -->

        <div class="col-lg-2 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Location</h3>
                <p>
                    Tochtergeslschaft
                    <br/>
                    Königsallee 19
                    40212 Düsseldorf
                    <br/>
                    Hauptniederlassung <br/>
                    Global World CC-VoIP D.O.O <br/>
                    Belgrad / Serbia
                </p>
            </div><!-- end widget -->
        </div><!-- end col -->
          <div class="col-lg-2 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Location</h3>
                <p>
                    Hauptniederlassung

                    Global World CC-VoIP GmbH
                    
                    Seitenstettengasse 5 / 37 1010 Wien
                </p>
            </div><!-- end widget -->
        </div><!-- end col -->
        <div class="col-lg-2 col-md-3">
            <div class="widget clearfix">
                <h3 class="widget-title">Location</h3>
                <p>
                    Hauptniederlassung

                    Global World IK LLC
                    
                    5203 Juan Tabo Blvd. NE Suite 2b, Albuquerque
                    New Mexico 87111 USA
                </p>
            </div><!-- end widget -->
        </div><!-- end col -->

          

         
      </div><!-- end row -->
  </div><!-- end container -->
</footer><!-- end footer -->

<div class="copyrights">
  <div class="container">
      <div class="clearfix">
          <div class="pull-left">
              <div class="cop-logo">
                  <a href="#"><img style="height:100px;margin:-5px" src="images/logo.webp" alt=""></a>
              </div>
          </div>

          <div class="pull-right">
              <div class="footer-links">
                  <ul class="list-inline">
                      <li><a href="https://html.design">Copyright © 2022 GLOBAL WORLD IK LLC All Rights Reserver</a></li>
                    
                  </ul>
              </div>
          </div>
      </div>
  </div><!-- end container -->
</div><!-- end copy -->
</div><!-- end wrapper -->

<!-- jQuery Files -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/carousel.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
<!-- VIDEO BG PLUGINS -->
<script src="js/videobg.js"></script>